*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}
html{
    font-size: 15px;
}
/*header starts */
header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to right,#514874 ,#793f78);
    padding-top: 5%;
    animation:background-color-change 6s linear 3s infinite ;
}
/* @keyframes background-color-change{
    0%{ 
        background-image: linear-gradient(to right,#514874 ,#793f78);
    }
    50%{
        background-image: linear-gradient(to right,#487452 ,#793f78);
    }
    100%{
        background-image: linear-gradient(to right,#737448 ,#793f3f);
    }
}*/
.inner{
    max-width:1200px;
    margin: 0 auto;
    padding: 5%;
}

.grid-line{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5%;
    
}
.name{
    width: 50%;
}
.name h1{
    font-size: 2.6rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
}
.intro{
    width: 50%;
    border-left: 1px solid #b3a3bc;
    padding-left: 5%;
}
.intro h4{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #b3a3bc;
}
.intro button{
    width: 130px;
    height: 30px;
    border-radius: 50px;
    background-color: #00bc8a;
    border: 0;
    color: #fff;
    font-family: 'roboto',sans-serif;
    margin-top: 2rem;
}
/*two section area starts here*/
.grid-line{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5%;
}
.left{
    width: 50%;
}
.left h3{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.left p{
    width: 90%;
    font-size: 0.8rem;
    line-height: 1.8rem;
    text-align: justify;
}
.left button{
    width: 130px;
    height: 30px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    font-family: 'roboto',sans-serif;
    margin-top: 2rem;
}
.right{
    width: 50%;
   padding-left: 5%;
   border-left: 1px solid #b3a3bc;
}
.right .fa{ 
    color: #00bc8a;
    margin-right: 1rem;
}
/*three image area*/
main{
    background-color: #eeeeee;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.image-section{
   background-color: #fff;
   margin-top: 30px;
   width: 100%;
}
.image-section img{
    width: 80%;
    height: 100%;
}


.image-section h4{
    font-size: 1.2rem;
    font-weight: 500;
    color: #666666;
    margin-top: 5.2rem;
    margin-bottom: 1rem;
}
.image-section p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    color: #666666;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.image-section button{
    width: 100px;
    height: 30px;
    background-color: #fff;
    color: black;
    font-family: 'raleway',sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 50px;
}
.image-section button:hover{
    background-color:#cacaca;
}
/*three image area ends */
/*footer area starts here*/
.bottom-area form{
    width: 50%;
}
.bottom-area .social{
    width: 50%;
    padding-left: 7%;
    border-left: 1px solid #666666;
}
.bottom-area h3{
    font-size: 1.3rem;
    font-weight: 500;
    color: #666666;
    margin-bottom: 1rem;
}
.bottom-area p{
    font-size: 0.8rem;
    font-weight: 500;
    color: #666666;
    line-height: 2rem;
    margin-bottom: 1rem;
}
form input[type=text] {
    width: 13.3rem;
    height: 2.3rem;
    
}
form input[type=email] {
    width: 13.3rem;
    height: 2.3rem;
    margin-left: 0.9rem;
}
form input[type=message]{
    width: 27.3rem;
    height: 10rem;
    margin-top: 2rem;
}
form input:hover{
    border:1px solid #00bc8a;
}
.bottom-area button{
    width: 120px;
    height: 35px;
    border-radius: 50px;
    font-size: 0.8rem;
    font-family: 'raleway',sans-serif;
    border: 1px solid rgb(85, 85, 85);
    margin-top: 2rem;
}
.social{
    width: 50%;
}
.social .fa{
    font-size: 1rem;
    color: #00bc8a;
    margin-right: 1rem;
}
.social p{
    font-size: 1rem;
    color: #666666;
    font-weight: 500; 
}
.copyright{
    padding: 3% 0;
    text-align: center;
    border-top: 1px solid #666666;
}
.copyright p{
    font-size: 0.8rem;
    color: #666666;
}
/*media query*/
@media only screen and (max-width: 800px) {
   .flex-box{
       display: block;
   }
   .name{
       width: 100%;
   }
   .name h1{
       font-size: 2rem;
       margin-bottom: 1rem;
   }
   .intro{
       width: 100%;
       border: none;
       padding: 0;
   }
   .left{
       width: 100%;
       margin-bottom: 2rem;
   }
   .right{
       width: 100%;
       padding-left: 0;
       border: 0;
   }
   .image-section img{
       width: 100%;
   }
   .image-section{
       text-align: center;
       padding: 2%;
   }
   .image-section p{
    
       margin-right: 0;
       width: 80%;
       margin: 0 auto;
   }
   .bottom-area form{
       width: 100%;
       margin-bottom: 2rem;
   }
  .bottom-area .social{
       width: 100%;
       border: 0;
       padding-left: 0;
   }
  }

  @media only screen and (max-width: 600px) {
    .name h1{
        font-size: 1.5rem;
    }
    .intro h4{
        font-size: 0.9rem;
    }
    .intro button {
        margin-top: 1rem;
    }
   }
 
